<!doctype html>
<html lang="en">
<head>
  <title>Hello, world!</title>
  <!-- Required meta tags -->
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

  <!-- Bootstrap CSS -->
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-beta.2/css/bootstrap.min.css" integrity="sha384-PsH8R72JQ3SOdhVi3uxftmaW6Vc51MKb0q5P2rRUpPvrszuE4W1povHYgTpBfshb" crossorigin="anonymous">
</head>
<body>

  <nav class="navbar fixed-top navbar-expand-lg navbar-dark bg-dark">
    <a class="navbar-brand" href="/">Frank's blog</a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNav">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarNav">
      <ul class="navbar-nav ml-auto">
        <li class="nav-item">
          <a class="nav-link" href="{% url 'about' %}">About<span class="sr-only">(current)</span></a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="https://github.com/frankzengjj">Github</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="https://www.linkedin.com/in/tianyu-zeng-552603114/">Linkedin</a>
        </li>
      </ul>
    </div>
  </nav>

  <div class="jumbotron jumbotron-fluid">
    <div class="container">


      <div id="page-wrap">

        <div id="contact-info" class="vcard">

          <!-- Microformats! -->

          <h1 class="fn">Tianyu Frank Zeng</h1>

          <p>
            Cell: <span class="tel">206-512-4349</span><br />
            Email: <a class="email" href="mailto:tzeng6@wisc.edu">tzeng6@wisc.edu</a>
          </p>
        </div>

        <div id="objective">
          <p>
            I am an outgoing and energetic young student, seeking a
            career that fits my professional skills and personality in data analysis fied.
          </p>
        </div>

        <div class="clear"></div>

        <dl>
          <dd class="clear"></dd>
<br>
          <dt>EDUCATION</dt>
        <hr>
          <dd>
            <h3>University of Wisconsin - Madison</h3>
            <p><strong>Major:</strong> Computer Science<br />
              <strong>Second Major:</strong> Statistics</p>
            </dd>

            <dd class="clear"></dd>
<br>
            <dt>PROFESSIONAL SKILLS</dt>
            <hr>
            <dd>
              <p><b>Programming:</b> Java, Python (numpy, pandas, django), R, SQL, html, css</p>
              <p><b>Statistics:</b>Regressions, Analysis of variance, Hypothesis Testing, Predictive Modelding</p>
            </dd>

            <dd class="clear"></dd>
<br>
            <dt>EXPERIENCE</dt>
            <hr>
            <dd>
              <h2>UW-Madison, Division of Information Technology - Madison, WI - September 2017 - Present</h2>
              <i>Course Production Assistant</i>
              <ul>
                <li>Managed successful migration process of critical courses by exporting the courses from learning management system, Desire2Learn (D2L), and import to Canvas</li>
                <li>Gathered and provided supporting documentation of Canvas export migration details, and determined potential technical errors to courses made during the migration process</li>
                <li>Established Welcome page in Canvas for instructors using HTML, and diagnosed errors and common occurrences such as broken links that are documented by the error log</li>
              </ul>

              <h2>USDA Forest Products Laboratory - Madison, WI - April 2017 - August 2017</h2>
              <i>Undergradute Student Researcher</i>
              <ul>
                <li>Implemented bilinear interpolation algorithm in Julia to enable three-layers neural network to recognize same images taken by different cameras</li>
                <li>Documented over 10k wood specimens features and generated a report using Python</li>
                <li>Took images and recorded specimen types and specimen orientations with different cameras</li>
              </ul>
            </dd>


            <dd class="clear"></dd>
          </dl>

          <div class="clear"></div>

        </div>
      </div>
    </div>

    <!-- Optional JavaScript -->
    <!-- jQuery first, then Popper.js, then Bootstrap JS -->
    <script src="https://code.jquery.com/jquery-3.2.1.slim.min.js" integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN" crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.3/umd/popper.min.js" integrity="sha384-vFJXuSJphROIrBnz7yo7oB41mKfc8JzQZiCq4NCceLEaO4IHwicKwpJf9c9IpFgh" crossorigin="anonymous"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-beta.2/js/bootstrap.min.js" integrity="sha384-alpBpkh1PFOepccYVYDB4do5UnbKysX5WZXm3XxPqe5iKTfUKjNkCk9SaVuEZflJ" crossorigin="anonymous"></script>
  </body>
  </html>
